html{
    height: 100%;
}
body{
    font-family: Helvetica, sans-serif, Arial;
    min-height: 98%;
    display: flex;
    flex-direction: column;
}
#container{
    
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

button{
    font-size: 1.6rem;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
    background-color: hsl(204, 100%, 33%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition:  ease-in-out 1s ;
}
button:hover{
    background-color: hsl(204, 100%, 43%);
    transition: ease-in-out 0.5s ;
}
button:active{
    background-color: hsl(204, 100%, 63%);
    transition: ease-in-out 1s linear;
}

h1{
    color: hsl(0, 1%, 28%);
    margin: 0;
    font-weight: bolder;
}

#inputnlabel {
    margin: 5px 0 0 0 ;
}
label{
    font-size: 1.3rem;
    color: rgb(81, 81, 81);
}
input{
    font-size: 1.25rem;
    width: 80px;
    text-align: center;
    font-weight: bold;
    color: rgb(81, 81, 81);
    border-radius: 5px;
    border: 2px solid hsla(0, 1%, 74%, 0.864);
}

#diceResults{
    background-color: hsl(190, 60%, 83%);
    color: hsl(189, 81%, 17%);
    padding: 5px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px
}

#diceImg{
    max-width: 300px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(166, 251, 204);
    border-radius: 10px
}
#diceImg img{
    width: 100px;
    margin: 10px;
}
footer{
    
    margin-top: auto;
}
#footertext {
    background-color: hsl(57, 88%, 86%);
    text-align: center;
    margin: -5px 0 0 0;
    padding-bottom: 3px;
    color: rgb(67, 66, 66);
}
#footercontent{
    margin: 0;
    padding: 0;
}

